Source: health-check
Rules-Requires-Root: no
Section: admin
Priority: optional
Maintainer: Colin Ian King <colin.i.king@gmail.com>
Standards-Version: 4.7.0
Build-Depends: debhelper (>= 13),
               debhelper-compat (=13),
               libjson-c-dev (>= 0.9),
               libbsd-dev
Homepage: https://github.com/ColinIanKing/health-check

Package: health-check
Architecture: i386 amd64 armel armhf arm64 powerpc ppc64 ppc64el
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: process monitoring tool
 Health-check monitors processes and optionally their child
 processes and threads for a given amount of time.  At the end
 of the monitoring it will display the CPU time used, wakeup
 events generated and I/O operations of the given processes.
 It can be used to diagnose unhealthy bad processes.
